<h1>{{name}}</h1>

<form action="/schedules/csv/{{name}}" method="GET" style="display: inline">
    <input type="submit" name="Export to CSV" value="Export to CSV">
</form>
<form action="/schedules/calendar/{{name}}" method="GET" style="display: inline">
    <input type="submit" name="Export to Google Calendar" value="Export to Google Calendar">
</form>
{{> schedule}}
{{#if hasAsyncClass}}
<p>Sections without scheduled times:</p>
<ul>
  {{#each courses}}
  {{#unless time}}
  <li>{{course_section}}</li>
  {{/unless}}
  {{/each}}
</ul>
{{/if}}