<div class="schedule-upload-container">
  <h2>Upload a schedule from a .csv here:</h2>
  <form id="scheduleCsvForm" action="/schedules/upload" method="POST" enctype="multipart/form-data">
    <input
        type="file"
        id="scheduleCsvInput"
        name="scheduleCSV"
        accept="text/csv"
        required
    >
    <input type="submit" value="Submit">
  </form>
</div>
{{#each schedules}}
<h1>{{name}}</h1>

<form action="/csv/{{name}}" method="GET" style="display: inline">
    <input type="submit" name="Export to CSV" value="Export to CSV">
</form>
<form onsubmit="confirmDeletion(event)" action="/delete/{{name}}" method="POST" style="display: inline">
    <input type="submit" name="Delete Schedule" value="Delete Schedule">
</form>
{{> schedule}}
{{/each}}

{{#unless schedules}}
<h1>No Schedules Found</h1>
{{/unless}}