
<form id="scheduleCsvForm" action="/schedules/upload" method="POST" enctype="multipart/form-data">
  <input
      type="file"
      id="scheduleCsvInput"
      name="scheduleCSV"
      accept="text/csv"
      required
  >
  <input type="submit" value="Submit">
</form>

{{#each schedules}}
<h1>{{name}}</h1>

{{> schedule}}
{{/each}}

{{#unless schedules}}
<h1>No Schedules Found</h1>
{{/unless}}