<form id="searchForm" action="/search/results" method="GET">
  <fieldset class="filters">
    <legend>Class Name</legend>
    <input type="text" id="query" name="query" placeholder="Search by class name (optional)">
  </fieldset>

  <fieldset class="filters">
    <legend>Professor</legend>
    <input type="text" id="professor" name="professor" placeholder="Search by professor (optional)">
  </fieldset>

  <fieldset class="filters">
    <legend>Class Level</legend>
    <div class="filter-group">
      <label><input type="checkbox" name="level" value="undergrad">Undergraduate</label>
    </div>
    <div class="filter-group">
      <label><input type="checkbox" name="level" value="grad">Graduate</label>
    </div>
  </fieldset>

  <fieldset class="filters">
    <legend>Academic Year</legend>
    <div class="filter-group">
      <label for="year-select">Select Year:</label>
      <select name="year" id="year-select">
        <option value="">-- Any Year --</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
      </select>
    </div>
  </fieldset>

  <fieldset class="filters">
    <legend>Semester</legend>
    <div class="filter-group">
      <label><input type="radio" name="semester" value="fall">Fall</label>
    </div>
    <div class="filter-group">
      <label><input type="radio" name="semester" value="spring">Spring</label>
    </div>
  </fieldset>

  <div id="error" style="color: red;"></div>

  <button type="submit">Search</button>
