<form id="searchForm" action="/search/results" method="GET">
  <fieldset class="filters">
    <legend>Class Name</legend>
    <input type="text" id="query" name="query" placeholder="Search by class name (optional)">
  </fieldset>

  <fieldset class="filters">
    <legend>Professor</legend>
    <input type="text" id="professor" name="professor" placeholder="Search by professor (optional)">
  </fieldset>

  <fieldset class="filters">
    <legend>Class Level</legend>
    <div class="filter-group">
      <label><input type="checkbox" name="level" value="undergrad">Undergraduate</label>
    </div>
    <div class="filter-group">
      <label><input type="checkbox" name="level" value="grad">Graduate</label>
    </div>
  </fieldset>

  <div id="error" style="color: red;"></div>

  <button type="submit">Search</button>
