
<div class="form-container">
    <h2>Sign Up</h2>
    <div id="error-signup" style="color: red;" {{#unless errors}}hidden{{/unless}}>
        {{#if errors}}{{errors}}{{/if}}
    </div>


    <form action="/register" method="POST" class="signup-form" id="signup-form">
        <input type="text" name="username" placeholder="Username" id="userId">
        <input type="text" name="firstName" placeholder="First Name" id="firstName">
        <input type="text" name="lastName" placeholder="Last Name" id="lastName">
        <input type="email" name="email" placeholder="Email" id="signup-email">
        <input type="password" name="password" placeholder="Password" id="signup-password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword">
        <input type="submit" value="Sign Up">
    </form>
</div>